*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  animation: cambioColor 2s infinite alternate;
}
.container_social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.social_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  border-radius: 50%;

}
.social_logo img{
  height: 2rem;
}
.formulario{
  background-color: white;
  border-radius: 2rem;
  width: 30rem;
  height: 35rem;
  padding: 2rem;
}

@keyframes cambioColor {
  0% {
    background-color: #ff0000;
  }
  33% {
    background-color: #00ff00;
  }
  66% {
    background-color: #0000ff;
  }
  100% {
    background-color: #ff0000;
  }
}